@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

$base-color: #FF868E;
$second-color: #FBE0DC;
$bg-colog: #F8F8F7;
$container-color: #FFFFFF;
$input-border-color: #EAEAEA;

$text-color: #8C8C8C;
$second-text-color: #1D1D1D;

$base-font: 'Jost', sans-serif;

$font-regular: 400;
$font-bold: 500;

$h1-font-size: 24px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 14px;
$text-size: 16px;
$button-text-size: 12px;
$small-caption: 12px;

$buttons-border-radius: 10px;
$card-border-radius: 20px;
$profile-picture-border-radius: 20px;


$input-border-radius: 20px;
